<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customized SOP Generator</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles.css" />
      
    </link>
  </head>
  <body style="background-color: #c3d1e6;">
    <div class="container">
      <br />
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-10 col-12">
          <div class="b text-center">
            <img src="/logo.png" alt="logo" class="img-fuild">
            <h2>Customized SOP Generator</h2>
            <p>Fill this questionnaire for the student. After submitting, you will
              receive an email at the email address that you have provided with a
              Statement of Purpose customized for you. You can use and modify that
              as per your needs.
            </p>
          </div>
          <form id="myForm">

            <br />
            <div class="form-group input-box">
              <label for="recipientEmail">Email Address</label>
              <br />
              <input
                type="email"
                class="input-style"
                id="recipientEmail"
                name="email"
                placeholder="recipient@example.com"
                required
              />
            </div>
            <br />
            <div class="form-group input-box">
              <label for="name">Full Name</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="name"
                name="name"
                placeholder="John Doe"
                required
              />
            </div>
            <br />
            <div class="form-group input-box">
              <label for="age">Age</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="age"
                name="age"
                placeholder="Enter Your Age"
              />
            </div>
            <br />
            <div class="form-group input-box2">
              <label for="educationLevel">Highest Level of education</label>
              <br />
              <select
                class="form-control input-style"
                id="educationLevel"
                name="educationLevel"
                required
              >
                <option value="">Choose </option>
                <option value="grade">Grade 12</option>
                <option value="diploma">Diploma</option>
                <option value="graduate">Bachelor's Degree</option>
                <option value="ms">Master's Degree</option>
                <option value="phd">PhD</option>
              </select>
            </div>
            <br />
            <div class="form-group input-box2">
              <label for="institute">Institute where you completed your highest
                level of education *</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="institute"
                name="institute"
                placeholder="Enter Your Answer"
              />
            </div>
            <br />
            <!-- Add IDs for the missing input fields below -->
            <div class="form-group input-box">
              <label for="study">What did you study *</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="study"
                name="study"
                placeholder="Enter Your Answer"
              />
            </div>
            <br />
            <div class="form-group input-box2">
              <label for="workExperience">Do you have any relevant work experience?
                *
                <br />
                Write None if no work experience. Provide the following details if
                yes:
                <br />
                <ol>
                  <li>Job Title</li>
                  <li>Company Name</li>
                  <li>Job duties</li>
                </ol>
                Sample Answer: I worked as a Sales Manager at Effizient Immigration
                Inc from Jan 2022 till Feb 2023.
                <br />In this role, I managed sales operations, reaching out to
                leads, led the outreach program, ensured meeting monthly targets.</label>
              <br />
              <input
                type="text"
                class="input-style2"
                id="workExperience"
                name="workExperience"
                placeholder="Enter Your Answer"
              />
            </div>
            <br />
            <div class="form-group input-box">
              <label for="admissionInstitute">What institute did you get admitted to
                in Canada? *</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="admissionInstitute"
                name="admissionInstitute"
                placeholder="Enter Your Answer"
              />
            </div>
            <br />
            <div class="form-group input-box">
              <label for="programOfStudy">What is your program of study in Canada? *</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="programOfStudy"
                name="programOfStudy"
                placeholder="Enter Your Answer"
              />
            </div>
            <br />
            <div class="form-group input-box">
              <label for="applyingFrom">Which country are you applying from? *</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="applyingFrom"
                name="applyingFrom"
                placeholder="Enter Your Answer"
              />
            </div>
            <br />
            <div class="form-group input-box">
              <label for="futureGoals">What are your future goals? *</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="futureGoals"
                name="futureGoals"
                placeholder="Enter Your Answer"
              />
            </div>
            <br />
            <div class="form-group input-box">
              <label for="listeningScore">English Scores - Listening *</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="listeningScore"
                name="listeningScore"
                placeholder="Enter Your Answer"
              />
            </div>
            <br />
            <div class="form-group input-box">
              <label for="readingScore">English Scores - Reading *</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="readingScore"
                name="readingScore"
                placeholder="Enter Your Answer"
              />
            </div>
            <br />
            <div class="form-group input-box">
              <label for="speakingScore">English Scores - Speaking *</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="speakingScore"
                name="speakingScore"
                placeholder="Enter Your Answer"
              />
            </div>
            <br />
            <div class="form-group input-box">
              <label for="writingScore">English Scores - Writing *</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="writingScore"
                name="writingScore"
                placeholder="Enter Your Answer"
              />
            </div>
            <br />
            <div class="form-group input-box">
              <label for="tuitionPayment">Did you pay your first-year tuition? *</label>
              <br />
              <input
                class="form-check-input"
                type="radio"
                name="tuitionPayment"
                id="tuitionPaymentYes"
                value="yes"
                required
              />
              <label class="form-check-label" for="tuitionPaymentYes">
                yes
              </label>
              <br />
              <input
                class="form-check-input"
                type="radio"
                name="tuitionPayment"
                id="tuitionPaymentNo"
                value="no"
              />
              <label class="form-check-label" for="tuitionPaymentNo">
                no
              </label>
            </div>
            <br />
            <div class="form-group input-box">
              <label for="tuitionFee">How much tuition fee did you pay? *</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="tuitionFee"
                name="tuitionFee"
                placeholder="Enter Your Answer"
              />
            </div>
            <br />
            <div class="form-group input-box">
              <label for="gic">Did you do a GIC? *</label>
              <br />
              <input
                class="form-check-input"
                type="radio"
                name="gic"
                id="gicYes"
                value="yes"
                required
              />
              <label class="form-check-label" for="gicYes">
                yes
              </label>
              <br />
              <input
                class="form-check-input"
                type="radio"
                name="gic"
                id="gicNo"
                value="no"
              />
              <label class="form-check-label" for="gicNo">
                no
              </label>
            </div>
            <br />
            <div class="form-group input-box">
              <label for="gicAmount">How much did you pay towards GIC? *</label>
              <br />
              <input
                type="text"
                class="input-style"
                id="gicAmount"
                name="gicAmount"
                placeholder="Enter Your Answer"
              />
            </div>
            <br />
            <button
              class="btn btn-primary"
              type="submit"
              id="submitButton"
            >Submit</button>

          </form>
        </div>
      </div>
      <br />
    </div>

    <script src="/sendData.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>

  </body>
</html>